{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "vueIndentScriptAndStyle": true,
  "useTabs": false,
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"]
}
